parsedatetime
country-converter
jishaku
googletrans
parsedatetime
aiohttp
tweepy
discord-flags
git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus@master
Pillow